{% extends 'base.html.twig' %}

{% block body %}
    <form action="{{ path('crawl') }}" method="get">
        <input type="text" name="url" placeholder="Enter URL">
        <button type="submit">Go</button>
    </form>
{% endblock %}